{{> header}}

<main class="container">
  <section class="row justify-content-center">
    {{#posts}}
    <article class="col-md-8">
      <h1><a href="{{permalink}}">{{{title}}}</a></h1>
      {{{thumbnail}}}
      {{{excerpt}}}
    </article>
    {{/posts}}
  </section>
</main>
<footer class="pagination">
  {{{previous_posts_link}}}
  {{{next_posts_link}}}
</footer>

{{> footer}}
