// varables for whole project

// colors
$color-primary: #FECF9B;
$color-action: #FD9933;
$color-dark: #2A273C;
$color-dark-light: #38354C;
$color-dark-deep: #262433;
$color-trip-advisor: #18A581;
$color-trip-advisor-light: #F2FAF8;
$lights-color: #ffffff;
$card-bg-color: #EBE8E8;
$card-border-color: #95989A;
// fonts
$primary-font-family: 'Noto Sans', sans-serif;
$alt-font-family: 'Arvo', serif;

//corners
$border-radius-size: .5rem;

//timing
$timing: .3s;